*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    

    
}
h1,h4 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    background: rgb(108, 177, 226);
}

h3 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
}
body{
    background: rgb(181, 219, 234);
}
body {
    font-family: "JetBrains Mono", monospace;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding:14 px;
    min-height: 100vh;
}
h1,p3{
    text-align: center;
}
form, section{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
form textarea{
    resize: none;
    width: 100%;
    min-height: 60px;
    padding:14px;
}

form button{
    
    padding: 10px;
    cursor: pointer;
    width: 800px;
    
    
}
.todoContainer,.todo{
    display: flex;
    flex-direction: column;
    gap:14 px;
}
.todo{
    padding: 10px;
    border: 1px solid rgb(70, 66, 66);
    border-radius: 10px;
}
.btnContainer{
    display: flex;
    gap: 6px;
    margin-left: auto;
}
.iconBtn { 
    background:transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 8 px;
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.iconBtn:hover {
    background: rgb(216, 247, 248);
}